{% extends 'layout.html' %}

{% block body%}
{% set card_image = url_for('static', filename='media/registration.png') %}
    <div class="feed-page">
        <div class="feed-filters-pane">
            <h2 class="feed-filter-title">Filters</h2>
            
        </div>
        <div class="feed-list-page">
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
            {% set template =  './components/feedcard.html' %} {% include template %}
        </div>
        

    </div>
{% endblock %}
