<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/registration.css') }}">
</head>

<body>
    <div class="reg-main-page">
        <div class="reg-main-left">
            <form action="{{ url_for('login') }}" class="reg-login-form" method="post">
                <label for="form" class="reg-main-label">LOGIN</label>
                <input type="email" name="email" placeholder="Email" class="reg-input" value="{{ request.form.get('email', '') }}" required>
                <input type="password" name="password" placeholder="Password" class="reg-input" required>
                <button class="reg-submit-btn">SUBMIT</button>
                {% if error %}
                <p class="reg-error">{{ error }}</p>
                {% endif %}
                <p class="reg-additional-text">
            <a href="{{ url_for('signup') }}" class="reg-redirect">Sign Up</a> if you do not have account.
                </p>
                
            </form>
        </div>
        <div class="reg-main-right">
            <img src="{{ url_for('static', filename='media/registration.png') }}" alt="login image" class="reg-main-right-img">
        </div>
    </div>
    <div class="reg-main-back-element" ></div>
</body>

</html>
