{% extends 'layout.html' %}

{% block body%}
{% set profile_image = url_for('static', filename='media/registration.png') %}

<div class="profile-page">
   <script>
            function signout() {
               console.log("Signing out !!!!!!!!!")
                fetch('/signout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(window.location.assign("/"))
                .catch(error => {
                    console.error('Error:', error);
                });

                console.log("User Logged OUT")
            }
        </script>
   <div class="profile-s1">
      <div class="profile-s1-info">
         <div class="profile-s1-info-left">
            <img src="{{ profile_image }}" alt="Profile Image" class="profile-s1-info-left-img" />
         </div>
         <div class="profile-s1-info-right">
            <h1 class="profile-s1-info-right-name">Rhena</h1>
            <div class="profile-rating">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-regular fa-star"></i>
            </div>
            <div class="profile-s1-social-list">
                <a href="#"><img src="{{ url_for('static', filename='media/linkedin-logo.png') }}" alt="" class="profile-social-logo"></a>
               <a href="#"><img src="{{ url_for('static', filename='media/telegram-logo.png') }}" alt="" class="profile-social-logo"></a>
               <a href="#"><img src="{{ url_for('static', filename='media/instagram-logo.png') }}" alt="" class="profile-social-logo"></a>
            </div>
         </div>
      </div>
      <div class="profile-s1-controls">
         <button class="profile-edit-btn" >Edit Profile</button>
         <button onclick="signout()" class="profile-signout-btn">Sign Out</button>
      </div>
   </div>

</div>
{% endblock %}