<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/registration.css') }}">
</head>

<body>
    <div class="reg-main-page">
        <div class="reg-main-left">
            <form action="{{ url_for('signup') }}" class="reg-login-form" method="post">
                <label for="form" class="reg-main-label">SIGN UP</label>
                <input type="name" placeholder="Name" class="reg-input">
                <input type="email" placeholder="Email" class="reg-input">
                <input type="password" placeholder="Password" class="reg-input">
                <button class="reg-submit-btn">SUBMIT</button>
                <p class="reg-additional-text">
                    <a href="{{ url_for('login') }}" class="reg-redirect">Login</a> if you already have an account.
                </p>
                
            </form>
        </div>
        <div class="reg-main-right">
            <img src="{{ url_for('static', filename='media/registration.png') }}" alt="login image" class="reg-main-right-img">
        </div>
    </div>
    <div class="reg-main-back-element" ></div>
</body>

</html>
