<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Cookies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/feed.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/notifications.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/add.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/edit_profile.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header class="header-main">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='media/Logo.png') }}" alt="Cook Book Logo" class="header-main-logo" /></a>
        {% if 'user' not in session %}
            <nav class="header-nav">
                <a class="header-nav-a" href="{{ url_for('login') }}">Login </a>
                <a class="header-nav-a" href="{{ url_for('signup') }}">Sign up</a>
            </nav>
        {% else %}
            <nav class="header-nav">
                {% if session.get('role') == 'admin' %}
                    <a class="header-nav-a" href="{{ url_for('admin_recipes') }}">Admin</a>
                {% endif %}
                <a class="header-nav-a" href="{{ url_for('profile') }}"><i class="fa-regular fa-circle-user"></i></a>
                <a class="header-nav-a" href="{{ url_for('notifications') }}"><i class="fa-regular fa-bell"></i></a>
                <a class="header-nav-a" href="{{ url_for('add') }}"><i class="fa-solid fa-plus"></i></a>
            </nav>
        {% endif %}
        
    </header>
    {% block body %}{% endblock %}
    <footer class="footer-main">
        <div class="footer-left">
            <p class="footer-title">About Us</p>
            <p class="footer-description">Our mission at CookBook is to make everyday cooking fun, because we believe
                that cooking is key to a happier and healthier life for people, communities and the planet. We empower
                homecooks all over the world to help each other by sharing recipes and cooking tips.</p>
        </div>
        <div class="footer-right">
            <p class="footer-right-title">SOCIAL MEDIA</p>
            <div class="footer-list-item">
                <img src="{{ url_for('static', filename='media/telegram-logo.png') }}" alt="" class="footer-social-logo">
                <a href="https://t.me/khojayev12" target="_blank" class="footer-social-name">Telegram</a>
            </div>
            <div class="footer-list-item">
                <img src="{{ url_for('static', filename='media/instagram-logo.png') }}" alt="" class="footer-social-logo">
                <a href="https://www.instagram.com/xojayev_yoldoshbek/" target="_blank" class="footer-social-name">Instagram</a>
            </div>
            <div class="footer-list-item">
                <img src="{{ url_for('static', filename='media/facebook-logo.png') }}" alt="" class="footer-social-logo">
                <a href="https://www.facebook.com/yoldoshbek.xojayev/" target="_blank" class="footer-social-name">Facebook</a>
            </div>
            <div class="footer-list-item">
                <img src="{{ url_for('static', filename='media/linkedin-logo.png') }}" alt="" class="footer-social-logo">
                <a href="https://linkedin.com/in/khojayev12" target="_blank" class="footer-social-name">Linkedin</a>
            </div>
        </div>
        <img src="{{ url_for('static', filename='media/footer.png') }}" alt="" class="footer-img">
    </footer>
    <script src="{{ url_for('static', filename='scripts/recipe-card.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/search.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/image-loader.js') }}"></script>
</body>

</html>
