@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0px;
  padding: 0px;
}
.footer-social-logo{
  width: 30px;
  height: 30px;
  object-position: center;
  object-fit:fill;
  margin-right: 5px;
}

.footer-list-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: space-between;
    background-color: #111214;
    z-index: 100;
}

.header-main-logo {
    margin-top: 16px;
    margin-left: 16px;
    width: 119px;
    height: 84px;
}

.header-nav {
    font-family: 'Montserrat';
    font-size: clamp(22px, 2.4vw, 30px);
    font-weight: 500;
    line-height: 22px;
    color: white;
    margin-top: 39px;
    margin-right: 16px;
    display: inline-flex;
    gap: 0;
}

.header-nav-a {
    text-decoration: none;
    color: white;
    margin-right: 40px;
    transition: color 0.2s ease;
}

.header-nav-a:last-child {
    margin-right: 0;
}

.header-nav-a:hover {
    color: #EBC76B;
}
.retsept-list-item {
  height: min-content;
  width: 19%;
  text-align: center;
  display: block;
}

.retsept-list-img {
  width: 12vw;
  height: 12vw;
  border: none;
  border-radius: 6vw;
  margin: 0px;
  object-fit: cover;
  object-position: center;
}

.retsept-list-img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.retsept-list-name {
  margin: 5px;
  color: black;
  font-family: "Montserrat";
  font-size: clamp(20px, 3.2vw, 26px);
  font-weight: 500;
}

.collection-list-item {
  width: 30%;
  height: 435px;
  position: relative;
  border: none;
  border-radius: 16px;
}

.collection-list-item:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 50px 10px;
}

.collection-list-img{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 16px;
  z-index: 1;
  object-fit: cover;
  object-position: center;
}

.collection-list-name{
  margin: 0px;
  color: white;
  font-family: "Montserrat";
  font-size: clamp(20px, 3.4vw, 28px);
  font-weight: 500;
  width: calc(100% - 30px);
  padding: 15px 15px;
  position: absolute;
  display: block;
  z-index: 20;
  bottom: 0px;
  left: 0px;
  border: none;
  border-radius: 16px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

@media (max-width: 1100px) and  (min-width: 540px) {


  .retsept-list-item {
    width: calc(50% - 24px);
    height: auto;
  }

  .retsept-list-img {
    width: 180px;
    height: 180px;
    border-radius: 90px;
  }

  .collection-list-item {
    width: calc(50% - 24px);
    height: 360px;
  }
}

@media (max-width: 768px) {


  

  .retsept-list-item {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
  }

  .retsept-list-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }

  .collection-list-item {
    margin-bottom: 20px;
    width: 100%;
    height: 320px;
  }
}

@media (max-width: 520px) {
  .retsept-list-img {
    width: 60vw;
    height: 60vw;
    border-radius: 30vw;
  }
}

@media (max-width: 540px) {
    .header-main-logo{
        width: 60px;
    }
    .header-nav {
        gap: 16px;
        justify-content: center;
    }


}



a {
  cursor: pointer;
}
