.profile-page {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: #f6f6f6;
  width: 100%;
}

.profile-s1{
  width: 90%;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.profile-s1-info{
  display: inline-flex;
  justify-content: left;
  align-items: center;
  width: 60%;
  height: 450px;
}

.profile-s1-info-left{
  height: 450px;
  width: 450px;
}

.profile-s1-info-left-img{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile-s1-info-right{
  margin-left: 50px;
}

.profile-s1-info-right-name{
  font-family: 'Montserrat';
  font-size: 56px;
  font-weight: 500;
  font-style:normal;
  margin: 0px;
}
.profile-rating{
  margin-top: 10px;
  font-size: 40px;
  color: #EBC76B;
  transform: 0.5s;
}
.fa-star:hover{
  transform: scale(1.1);
}
.profile-s1-social-list{
  margin-top: 10px;
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

.profile-social-logo{
  display: inline-block;
  margin-right: 10px;
}

.profile-s1-controls{
  width: 40%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-edit-btn{
  width: 250px;
    color: black;
    font-family: 'Montserrat';
    font-size: clamp(24px, 2.1vw, 23px);
    font-weight: 500;
    line-height: 1.3;
    border: #EBC76B 1px solid;
    background-color: #EBC76B;
    padding: 22px 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.profile-signout-btn{
  margin-top: 20px;
  width: 250px;
    color: black;
    font-family: 'Montserrat';
    font-size: clamp(24px, 2.1vw, 23px);
    font-weight: 500;
    line-height: 1.3;
    border: #ee5f5f 1px solid;
    background-color: #ee5f5f;
    padding: 22px 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
