.profile-page {
  margin-top: 100px;
  padding-top: 100px;
  background-color: white;
  width: 100%;
}

.profile-s1 {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}
.profile-s1-info {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  width: 60%;
  height: 450px;
}

.profile-s1-info-left {
  height: 450px;
  width: 450px;
}

.profile-s1-info-left-img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile-s1-info-right {
  margin-left: 50px;
}

.profile-s1-info-right-name {
  font-family: "Montserrat";
  font-size: 56px;
  font-weight: 500;
  font-style: normal;
  margin: 0px;
}
.profile-rating {
  margin-top: 10px;
  font-size: 40px;
  color: #ebc76b;
  transform: 0.5s;
}
.fa-star:hover {
  transform: scale(1.1);
}
.profile-s1-social-list {
  margin-top: 10px;
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

.profile-social-logo {
  display: inline-block;
  margin-right: 10px;
}

.profile-s1-controls {
  width: 40%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-edit-btn {
  width: 250px;
  color: black;
  font-family: "Montserrat";
  font-size: clamp(24px, 2.1vw, 23px);
  font-weight: 500;
  line-height: 1.3;
  border: #ebc76b 1px solid;
  background-color: #ebc76b;
  padding: 22px 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.profile-edit-btn:hover {
  background-color: gold;
}
.profile-signout-btn {
  margin-top: 20px;
  width: 250px;
  color: black;
  font-family: "Montserrat";
  font-size: clamp(24px, 2.1vw, 23px);
  font-weight: 500;
  line-height: 1.3;
  border: #ee5f5f 1px solid;
  background-color: #ee5f5f;
  padding: 22px 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.profile-signout-btn:hover {
  background-color: red;
  color: white;
}

.profile-s2-description {
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
}
.profile-stats-div {
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
}

.profile-stat-block {
  margin-right: 50px;
  width: 360px;
  height: 175px;
  border: 1px solid #ababab;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-stat-block-t {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 80px;
  margin: 0px;
}

.profile-stat-block-d {
  font-family: "Montserrat";
  font-weight: 500;
  margin: 0px;
  font-size: 32px;
}

.profile-posted {
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-top: 70px;
}

.profile-posted-title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 56px;
  margin: 0px;
}
.profile-posted-list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1440px) and (min-width: 768px) {
  .profile-s1 {
    flex-direction: column;
  }
  .profile-s1-info {
    width: 100%;
  }
  .profile-s1-controls {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
  }
  .profile-signout-btn {
    margin-top: 0px;
    margin-left: 20px;
  }
  .profile-rating {
    font-size: 28px;
  }
  .profile-stats-div {
    display: flex;
    justify-content: center;
  }
  .profile-stat-block-t {
    font-size: 70px;
  }
  .profile-s1-info-left {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 768px) and (min-width: 100px) {
  .profile-s1 {
    flex-direction: column;
  }
  .profile-s1-info {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .profile-s1-controls {
    width: 100%;
    flex-direction: row;
    margin-top: 10px;
  }
  .profile-signout-btn {
    width: 200px;
    font-size: clamp(18px, 2.1vw, 18px);
    font-weight: 500;
    line-height: 1;
    padding: 15px 10px;
    margin-top: 0px;
    margin-left: 10px;
  }
  .profile-edit-btn {
    width: 200px;
    font-size: clamp(18px, 2.1vw, 18px);
    font-weight: 500;
    line-height: 1;
    padding: 15px 10px;
  }
  .profile-rating {
    font-size: 28px;
  }
  .profile-stats-div {
    display: flex;
    justify-content: center;
  }
  .profile-stat-block-t {
    font-size: 70px;
  }
  .profile-s1-info-left {
    height: 250px;
    width: 250px;
  }
  .profile-page {
    margin-top: 50px;
    padding-top: 50px;
  }
  .profile-s1-info-right {
    margin-left: 0px;
    text-align: center;
  }
  .profile-s2-description{
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
  font-size: 20px;
  }
  .profile-stats-div{
    flex-direction: column;
    align-items: center;
  }
  .profile-stat-block{
    margin-top: 10px;
    width: 200px;
  }
  .profile-stat-block-t{
    font-size: 50px;
  }
  .profile-stat-block-d{
    font-size: 26px;
  }
  .profile-posted{
    margin-top: 20px;
  }
  .profile-posted-title{
    font-size:40px;
  }
  .profile-posted-list{
    flex-direction: column;
    align-items: center;
  }
}
