.reg-main-page{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    background-color: white;
}

.reg-main-left{
    width: 70%;
    height: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}

.reg-main-right{
    width: 30%;
    height: 100vh;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

.reg-main-right-img{
    position: fixed;
    top: 0px;
    right: 0px;
    width:30%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.reg-login-form{
    text-align: center;
    margin-top: 20vh;
    width: 50%;
}

.reg-main-label{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 40px;
    line-height: 22px;
    color: black;
    display: block;
}

.reg-input{
    display: block;
    background-color: #E3E3E3;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 22px;
    width: calc(100% - 44px);
    border-radius: 16px;
    border: 1px solid #E3E3E3;
    padding: 32px 22px;
    margin-top: 35px;
}

.reg-submit-btn{
    display: block;
    background-color: #EBC76B;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 40px;
    line-height: 22px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #E3E3E3;
    padding: 32px 22px;
    margin-top: 50px;
}
.reg-submit-btn:hover{
    background-color: #ffb700;
    transform: scale(1.05);
    transition: 0.3s;
}
.reg-additional-text{
    display: block;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.reg-redirect{
    color: black;
}
.reg-error{
    margin-top: 20px;
    color: #c0392b;
    font-family: 'Montserrat';
    font-size: 18px;
}

.reg-main-back-element{
    width: 15vw;
    height: 15vw;
    background-color: #EBC76B;
    border: #EBC76B 1px solid;
    border-radius: 56px;
    position: absolute;
    top: -8vw;
    left: -2vw;
    z-index: 99;
    transform: rotate(26.32deg);
}


@media (max-width: 1024px) {
  .reg-main-right{
    display: none;
  }
  .reg-main-left{
    width: 100%;
  }
  .reg-login-form{
    width: 70%;
}
  .reg-input{
    font-size: 25px;
    padding: 18px 22px;
    margin-top: 35px;
}
}


@media (max-width: 540px) {
    .reg-login-form{
        width: 80%;
    }
    .reg-input{
        font-size: 18px;
        padding: 18px 22px;
        margin-top: 25px;
    }
    .reg-submit-btn{
        display: block;
        background-color: #EBC76B;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 30px;
        line-height: 22px;
        width: 100%;
        border-radius: 16px;
        border: 1px solid #E3E3E3;
        padding: 22px 22px;
        margin-top: 40px;
    }
}
